* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3px;

    color: #34315f;
}
.card-users {
    border-radius: 50%;
    background-size: cover;
    width: 125px;
    height: 125px;
}
.card-gh {
    width: 125px;
    text-align: center;
    margin: 10px;
}
.card-gh p {
    padding-top: 5px;
}
.logo {
    border-radius: 50%;
    background-image: url(../../img/brain-cartoon-vector-icon-illustration-education-object-icon-concept-isolated-premium-vector-flat-cartoon-style_138676-3559.jpg);
    background-size: cover;
    width: 70px;
    height: 70px;
}
.gh {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    /*position: relative;*/
    overflow: hidden;
}
img {
    width: 100%;
}
.container {
    max-width: 1270px;
    padding: 0 20px;
    margin: 0 auto !important;
}
li {
    list-style-type: none;
    line-height: 25px;

    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

p {
    line-height: 23px;
}

/*.bmm {
    display: none;
    margin-top: 7px;
    background-color: rgba(217, 237, 252, 0.9);
    padding: 10px 25px;
    border-radius: 10px;
    margin-left: -4px;
}

.nav-item:hover > .bmm {
    display: block;
    position: absolute;
}*/

.bmm li a span:hover {
    border-bottom: 1.7px solid #34315f;
}
.nmnm {
    margin-top: 50px !important;
}
.connt-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.inp {
    height: 65px;
    margin-bottom: 25px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #CCC;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.5px;

    padding: 25px;
}
input::placeholder, textarea::placeholder{
    color: rgba(190, 190, 190, 0.856);
}
.inp-t {
    text-align: center;
    margin-bottom: 25px;
}
.inp-p {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #CCC;
    
    font-size: 18px;
    font-weight: 900;
    padding: 25px;
    letter-spacing: 0.5px;
}
.map {
    width: 100%;
    border-radius: 10px;
}
.djbv {
    box-shadow: 0 0 1200px #d0e4ff;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 100px;
}
.cont-text {
    font-size: 16px;
    margin-bottom: 25px;

    display: flex;
    align-items: center;
}
